$text-default: #000000;
$bg-default: #ffeb3b;
$text-options: #939393;
$bg-white: #ffffff;
$text-options-white: #000000;
$font-default: 'Montserrat', sans-serif;
$font-weight-default: 400;
$font-weight-header:  600;

